# Target Backend Base URL (optional override for ephemeral environments or local docker)
BASE_URL=https://ephemeral-protected.api.dev.cdp-int.defra.cloud/ls-keeper-data-bridge-backend/

# API Credentials (AWS Gateway & Backend Application)
API_KEY=your_api_key_here
AUTHORIZATION_KEY=your_authorization_key_here

# Cryptographic Salt for PBKDF2 AES-256-ECB File Encryption
DECRYPTION_SALT=your_decryption_salt_here
